@font-face {
	font-family: 'LHFGloria';
	src: url('fonts/LHFGloria.eot');
	src: url('fonts/LHFGloria.eot?#iefix') format('embedded-opentype'),
		url('fonts/LHFGloria.woff') format('woff'),
		url('fonts/LHFGloria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.eot');
	src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Book.woff') format('woff'),
		url('fonts/Gotham-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Light';
	src: url('fonts/Gotham-Light.eot');
	src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Light.woff') format('woff'),
		url('fonts/Gotham-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(2.4);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";