html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

*:focus {
	outline:none !important;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	background-image: url('images/bg-tile.png');
	background-attachment:fixed;
	padding:10px;
	background-size:100px;
	@media #{$BPB} {
		padding: 50px;
		background-size:auto;
	}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

.outer-wrap {
	padding-bottom: 60px;
	text-align: center;
	border: 1px solid $gold;
	padding: 0px 0;
	margin: 0px auto;
	overflow: hidden;
}

.inner-wrap {
	padding: 80px 20px 170px;
	background-image: url(images/flourish-left-top.svg),url(images/flourish-right-top.svg),url(images/flourish-right-bottom.svg),url(images/flourish-left-bottom.svg);
	background-position: left top, right top, right bottom, left bottom;
	background-repeat: no-repeat;
	background-size:100px;
	@media #{$BPD} {
		background-size:auto;
	}
}

.site-heading {
	margin-top:5vh;
	@media #{$BPE} {
		height:70vh;
		min-height:300px;
		max-height:664px;
	}
}


article {
	
}

section {
	
}

.form-container {
	text-align:left;
}

