$gold: #D4A256;
$offblack: #1f1f1f;
$offwhite: #eee7d4;

$color__background-body: $offblack;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $gold;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $offblack;
$color__text-input-focus: $offblack;
$color__link: $offwhite;
$color__link-visited: $offwhite;
$color__link-hover: $gold;
$color__text-main: $offwhite;
$color__text-alt: $gold;

$color__border-button: $gold;
$color__border-button-hover: $gold;
$color__border-button-focus: $gold;
$color__border-input: $offwhite;
$color__border-abbr: #666;